// Fonts
@font-face {
    font-family: 'Avenir Next Bold';
    src: url("/src/assets/fonts/AvenirNextLTPro-Bold.otf");
    font-weight: 700;
}

@font-face {
    font-family: 'Avenir Next Demi';
    src: url("/src/assets/fonts/AvenirNextLTPro-Demi.otf");
    font-weight: 600;
}

@font-face {
    font-family: 'Avenir Next Regular';
    src: url("/src/assets/fonts/AvenirNextLTPro-Regular.otf");
    font-weight: 400;
}