// Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1279px;

// Colours
// Primary
$brainflix-black: #323232;
$brainflix-blue: #0095FF;
$silver: #afafaf;
$white: #fff;

// Secondary
$brainflix-dark-black: #000;
$brainflix-dark-blue: #0065AD;
$mercury: #e1e1e1;
$alabaster: #FAFAFA;

// Functional
$brainflix-error: #D22D2D;