// Fonts
@font-face {
    font-family: 'Avenir Next Bold';
    src: url("../assets/fonts/");
    font-weight: 700;
}

@font-face {
    font-family: 'Avenir Next Demi';
    src: url("../assets/Font/AvenirNextLTPro-Demi.otf");
    font-weight: 600;
}

@font-face {
    font-family: 'Avenir Next Regular';
    src: url("../assets/Font/AvenirNextLTPro-Regular.otf");
    font-weight: 400;
}