@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.header {
    @include flex-column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    width: 95vw;

    @include tablet-screen {
        @include flex-row;
        justify-content: space-between;
        align-items: center;
    }
}

.heading {
    @include flex-row;
    justify-content: center;
    margin: 1rem;

    &__brainflix-icon {
        max-width: 7.5rem;
        max-height: 1.5625rem;
    }
}

.header-form {
    @include flex-row;
    justify-content: center;
    width: 95vw;

    @include tablet-screen {
        justify-content: flex-end;
    }

    &__form {
        @include flex-column;

    }


    &__container {
        @include flex-row;
        justify-content: flex-end;
        align-items: center;

        @include tablet-screen {
            align-items: center;
        }
    }

    &__search-bar {
        @include form-field-style;
        width: 95%;
        background: url("/src/assets/icons/search.svg") no-repeat scroll 0.4375rem;
        padding-left: 1.875rem;
    }

    &__user-img {
        @include avatar-style;
        margin-left: 1rem;
    }

    &__button {
        @include cta-button-style;
        background: url("/src/assets/icons/upload.svg") no-repeat scroll 0.4375rem $brainflix-blue;
        width: 95vw;

        &--tablet {
            display: none;
        }

        @include tablet-screen {
            &--mobile {
                display: none;
            }

            &--tablet {
                display: flex;
                align-items: center;
                @include cta-button-style;
                background: url("/src/assets/icons/upload.svg") no-repeat scroll 0.4375rem $brainflix-blue;
                width: 9.375rem;
                margin: 0 2rem;
            }
        }
    }
}