@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/typography" as *;

body {
    @include flex-column;
    font-family: "Avenir Next Regular";
    @include body-copy-font;
    margin: 0;
}

li {
    list-style: none;
}

h3 {
    @include section-header-font;
}

.body-container {
    @include desktop-screen {
        @include flex-row;

        &__inner {
            width: 60vw;

        }
    }
}